*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

header{
    padding-top: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    
}

figure img{
    width: 50px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

a{
    color: black;
    text-decoration: none;
}

.li-header{
    line-height: 50px;
}

.active{
    border-bottom: 3px solid blue;
    color: blue;
}

.active a{
    color: blue;
}

.li-header:hover{
    border-bottom: 3px solid blue;
}

ul li a:hover{
    color: blue;
}

#container-top{
    height: 30vh;
    background: url('./assets/img/jumbotron.jpg');
    background-size: cover;
}

.container-bottom{
    background-color: black;
    height: 90vh;
}

.container-relative{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

#title-container-bottom{
    position: absolute;
    top: -10px;
    left: 0;

}

#title-container-bottom mark{
    color: white;
    background-color: blue;
    padding: 10px;
}

.img-card{
    width: 120px;
    height: 120px;
    margin: 40px 20px 20px 20px; 
}

.title-card{
    color: white;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.container-relative button{
    background-color: blue;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#comicsbottom{
    background-color: blue;
}

.container-li{
    display: flex;
    color: white;
    align-items: center;
}

.container-li figure{
    padding: 10px;
}

.container-li figure img{
    width: 40px;
    height: 40px;
}

#foottop{
    background: url('./assets/img/footer-bg.jpg');
}

.container-50{
    display: flex;
    justify-content: space-between;    
}

.ul-footer{
    display: block;
    padding: 15px;
    color: white;
}

.bg-logo{
    background: url('./assets/img/dc-logo-bg.png');
    background-position: right;
    background-repeat: no-repeat;
}

#fotbottom{
    background-color: black;
}